.game-board-cell {
    height: var(--game-square-size);
    width: var(--game-square-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: green;
    border: var(--game-square-border-size) solid darkgreen;
    border-radius: var(--game-square-radius-size);
}

#game-board .playable {
    background-color: #9acd32aa;
}
