.game-board-cell {
    height: var(--game-square-size);
    width: var(--game-square-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: green;
    border: var(--game-square-border-size) solid darkgreen;
    border-radius: var(--game-square-radius-size);
    transition: 100ms;
}

#game-board .playable {
    background-color: #9acd32aa;
    transition: 100ms;
}

#game-board .passing {
    border: var(--game-square-border-size) solid darkred;
    background-color: darkred;
}
