#game-board {
    display: flex;
    flex-direction: row;
    width: min-content;
    background-color: darkgreen;
    border: var(--game-square-border-size) solid black;
    border-radius: calc(
        var(--game-square-radius-size) + var(--game-square-border-size)
    );
    padding: var(--game-square-border-size);
    margin-top: 3rem;
}

#game-board .game-board-column {
    display: flex;
    flex-direction: column-reverse;
}
