#game-board {
    display: flex;
    flex-direction: row;
    width: min-content;
    background-color: darkgreen;
    border: min(0.2vh, 0.2vw) solid black;
    border-radius: min(1.2vh, 1.2vw);
    padding: min(0.2vh, 0.2vw);
    margin-top: 3rem;
}

#game-board .game-board-column {
    display: flex;
    flex-direction: column-reverse;
}

#game-board .game-board-cell {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: green;
    border: min(0.2vh, 0.2vw) solid darkgreen;
    border-radius: min(1vh, 1vw);
}

#game-board .game-board-cell p {
    text-align: center;
    font-size: min(3.5vh, 3.5vw);
}
