.game-piece {
    height: calc(var(--game-square-size) * 0.9);
    width: calc(var(--game-square-size) * 0.9);
    border-radius: 50%;
    box-shadow: max(-0.1vh, -0.1vw) min(0.1vh, 0.1vw) min(0.5vh, 0.5vw) #000;
}

.game-piece-white {
    background: radial-gradient(#fff 0%, #ddd 80%);
}

.game-piece-black {
    background: radial-gradient(#0d0d0d 0%, #000 50%);
}
